{% extends 'web/base.html' %} {% load static %} {% block content %}

<!-- Home -->
<section class="banner-content">
  <div class="container-fluid">
    <div class="title">
      <div class="row" id="heading">
        <h1>About</h1>
      </div>
    </div>
    <div class="about" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12" id="para">
            <img src="{% static 'web/img/web 10.jpg' %}" />
            <p id="about_head">
              Sahid Cholayil is an Indian entrepreneur from Dubai, the founder
              and chairman of “Mission 3G”, and the winner of 2018
              Entrepreneurship RACE Award Competition at Harvard University.
            </p>
            <p>
              Mission 3G is a humanitarian enterprise founded by Dr Sahid as a
              result of years of research in multiple areas such as threats to
              mankind, society & nation, education, technology, neuroscience,
              psychology, sociology, epistemological elements of philosophy,
              world economics – market needs and feasibility, and value systems.
              Mission 3G is led by a team of academic experts from Harvard
              University, Massachusetts Institute of Technology, Indian
              Institute of Technology (Bombay), Indian Institute of Management
              (Bangalore) and many other institutes of academic excellence. The
              organization is addressing various problems of third millennium
              such as existential vacuum of human life, challenges of education
              3.0, technology unemployment due to fourth industrial revolution
              etc and there by developing solutions to impact humanity by means
              of human centric designs and naturalistic thinking. Dr Sahid and
              his team is well-known for their work towards developing the
              world’s first “Life Management System” that can deliver
              individualized dynamic curriculum and personalized dynamic
              pedagogy which will be catering to the learning needs of an
              individual from “Womb to Tomb”. The concept of “Life Management
              System” has evolved from Sahid’s vision to help every human life
              identify the true purpose of their lives through an educational
              paradigm and further helping humanity to pursue their purpose. The
              Life Management System is in an innovative venture administering
              the latest technology of IBM WATSON and SAP HANA, operating
              through 3G Learning Initiatives (Bangalore) and 3G Institute of
              Research and Policy Studies (New Delhi).
            </p>
            <p>
              Mission 3G team under the leadership of Dr Sahid is also actively
              engaged in bridging gap between learners and phygital learning
              solutions in India. On 26th January 2018, Dr. Sahid has announced
              the “Mission 3G” national campaign at Indian School of Business in
              Hyderabad which intends to accelerate the digitization of learning
              in India. The Mission 3G “Build India to Serve the World” campaign
              is the initiative laid out to address the technology unemployment
              in India with a vision to leverage India’s demographic dividend
              and developing sustainable entrepreneurial ecosystem for small
              medium enterprises. The ongoing campaign has gained quite a
              momentum with the leading Ed-tech Indian entrepreneurs joining
              hands together for this national cause first-time ever. The global
              campaign of Mission 3G was launched at Harvard University on
              February 8th 2018 which received significant support of industry
              thought leaders and educationists across the globe
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
