{% extends 'web/base.html' %} {% load static %} {% block content %}

    <section class="banner-content">
        <div class="container-fluid">
            

            <div class="title mb-5">
                <div class="row" id="heading">
                  <h1>Position</h1>
                </div>
              </div>

        <div class="position mt-5"  id="position">
            <div class="container pl-5">
                <div class="row">

                    {% for position in position %}
                    <div class="col-lg-7">                        
                        <h4>{{position.title}}</h4>
                        <p>{{position.details}}</p>
                    </div>   
                    {% endfor %}             
                    
                </div>               
                
                
            </div>
        </div>

        
            
        </div>
        </div>
    </section>


{% endblock %}